.each-slide > div {
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-size: cover;
    height: 700px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #006e60;
    color: white;
    text-align: center;
    border-radius: 4px;
}

.head1
{
    font-size: 30px;
    color : white;
    margin-top: 5%;
    margin-bottom: 5%;
}